

body{
    background:#ECF0F1;
    font-family: sans-serif;
}
#navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
#kotak{
    width: 100%;
    height: 400px;
    background: #cccccc;
    margin: 0px auto 0px auto;
    color:#2ECC71;
}
#atas{
    height: 35px;
    width: 520px;
    text-align: center;
    font-size: 15pt;
    padding-top:20px;
}
#bawah{
    padding-top: 90px;
    height: 200px;
    width: 520px;

    
}
.masuk{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    font-size: 12pt;
    border: 1px solid #2ECC71;
    padding-left:10px;
    color:#2ECC71;

}
.masuk:focus{
    width: 400px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    font-size: 12pt;
    padding-left:10px;
    color:#1ABC9C;
    outline: none;
    box-shadow: 0 0 5px #2ECC71;
}
 
#tombol{
    width: 413px;
    height:40px;
    margin-top:10px;
    margin-left: 60px;
    background: #2ECC71;
    border:none;
    color:#fff;
    font-size: 14pt;
    outline:none;
}

#home{
    float: right;
    background:#e6e6fa;
    width:1355px;
    height:560px;
    padding:10px 2px 10px 10px;
    margin-top:50px;
    margin-left:15px;
    border-radius:10px;
}
#search{
    background:#F9F8F6;
    width:150px;
    height:2px;
    padding:10px 0px 0px 10px;
    margin-top:40px;
}
#isi{
    float: left;
    background:#F9F8F6;
    width:400px;
    height:520px;
    padding:10px 2px 10px 10px;
    margin-top:5px;
    margin-right:50px;
    margin-left:20px;
    text-align:justify;
}
#isi1{
    float: left;
    background:#F9F8F6;
    width:840px;
    height:520px;
    padding:10px 2px 10px 10px;
    margin-top:5px;
    
    text-align:justify;
}
#isi2{
    float: left;
    background:#F9F8F6;
    width:1350px;
    height:500px;
    padding:2px 2px 1px 1px;
    margin-top:0px;
    text-align:justify;
}

#footer{
    padding-top: 15px;
    background: #FFFFFF;
    clear: both;
    color:#2ECC71;
}
#A{
     margin: auto;
     position: absolute;
     top: 0; left: 0; bottom: 0; right: 0;
     height: 300px;
     border: 1px solid #999; /*jika ingin melihat posisi div anda lebih jelas */
     background: #2ECC71;
     color: white;
     width: 500px;

}

